/* basic page setup and text stuff */

body, html {
	margin: 0;
	font-size: 10px;
}

body {
	min-width: 600px;
}

h1 {
	font-family: 'UnifrakturMaguntia', cursive;
	text-align: center;
	font-size: 8rem;
	margin: 4rem 0 0 0;
}

p {
  text-align: center;
  font-size: 1.4rem;
}

/* button styling and positioning */

button {
    background-color: #0088cc;
    background-image: linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    color: white;
    border: none;
    width: 120px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: .5rem;

    position: absolute;

    box-shadow: inset 0px 0px 0px rgba(0,0,0,0.7);
    transition: 0.1s all;
    -webkit-transition: 0.1s all;
}

button:hover, button:focus {
  opacity: 0.8;
}

button:active {
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
}

.play {
  top: 2px;
  left: 2px;
}

.stop {
  top: 2px;
  left: 124px;
}

.left {
  top: 44px;
  right: 64px;
  background: url(icons/left.svg) no-repeat center, linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%);

}

.right {
  top: 44px;
  right: 2px;
  background: url(icons/right.svg) no-repeat center, linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%);
}

.zoom-in {
  top: 2px;
  right: 31px;
  background: url(icons/zoom-in.svg) no-repeat center, linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%);
}

.zoom-out {
  top: 86px;
  right: 31px;
  background: url(icons/zoom-out.svg) no-repeat center, linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%);
}

.move {
	width: 60px;
	height: 40px;
	background-size: 50% 60%, 100% 100%;
}

/* setting up the room of metal */

.room {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 300px;
	width: 100%;
	position: relative;
}

.flex-wrapper {
	width: inherit;
	height: inherit;

	display: flex;
	align-items: center;
	justify-content: center;

	overflow: hidden;
}

.boom-box {
	width: 200px;
	height: 180px;
	background: url(icons/boom.svg) no-repeat;
	background-size: 100% 100%;

  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.pulse-wrapper {
  -webkit-transform-origin: center;
  transform-origin: center;
}

.pulsate {
  -webkit-animation: pulse 0.5s linear infinite alternate;
  animation: pulse 0.5s linear infinite alternate;
}

/* animation class for boom box pulsating */

@-webkit-keyframes pulse {
  from { -webkit-transform: scaleY(1); }
  to { -webkit-transform: scaleY(1.07);}
}

@keyframes pulse {
	from { transform: scaleY(1); }
	to { transform: scaleY(1.07);}
}

/* position data outputs */

.listener-data, .panner-data {
  width: 230px;
  position: absolute;
  right: 2px;
}

.listener-data {
  top: 2px;
}

.panner-data {
  top: 30px;
}

  #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } #redesignNotice {display:none !important} .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .notification-tray, .section-edit {display:none !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .share {display:none !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none} .line-highlight:before, .line-highlight[data-end]:after {display:none !important} #helpful-survey {display:none !important}
#page-buttons{display:none} .contributor-avatars {display:none !important} .document-head { background-color:white !important; padding: 0px 0 20px !important} .newsletter-box {display:none !important} .center {max-width:none !important} #wiki-column-container {overflow:visible !important} .sample-code-frame {padding:0px !important; border: none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none} .document-head h1 {margin-top:10px !important} #wikiArticle {border-bottom:0px !important} #wiki-content,#wiki-left,#wiki-right{margin-right:0;width:auto!important;float:none;padding-bottom:40px}#wiki-right #toc{padding:10px 20px}#wiki-right #toc .toggler{pointer-events:auto;color:#387894}#wiki-right #toc .toggler i{display:inline-block}#wiki-right #toc .toggle-container{display:none}.no-js #wiki-right #toc .toggle-container{display:block}#wiki-column-container,#wiki-content{width:auto!important} #wiki-column-container, #wiki-content {width:100% !important} .local-anchor {display:none !important} #kserrors {display:none !important} .banner, .blockIndicator, .geckoVersionNote, .inheritsbox, .note, .notice, .overheadIndicator, .standardNoteBlock, .warning, .text-content p, .text-content dl, .text-content ol, .text-content ul {max-width:none !important} .toc {position: static !important} .toc-links li a.toc-current:after {display:none !important} .summary {border:0px !important} .crumbs {width:100% !important} body {font-size:16px}

.crumbs {display:block !important} .crumbs {margin-top:10px !important; margin-bottom:0 !important; padding-bottom:0 !important; border:none !important}
