/* || basic set up + sizing for containers */

html, body {
  margin: 0;
  font-family: sans-serif;
  font-size: 10px;
}

html {
  background-color: #55aa55;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 0;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 2px black;	
}

ul {
	text-align: center;
	list-style-type: none;
  padding: 2rem 1rem;
  background: white linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
  box-shadow: 3px 3px 10px black;
}

li {
  font-size: 2rem;
  padding-bottom: 1rem;
}

form {
  float: right;
  width: 55%;
}

ul {
  float: left;
  width: 40%;
}

form {
  font-size: 1.7rem;
  margin-top: 1rem;
}

form > div {
  margin-bottom: 3rem;
  padding: 1rem 1rem 2rem;
  background: white linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
  box-shadow: 3px 3px 10px black;
}

form div div {
  clear: both;
  margin-top: 1rem;
}

form div label {
  width: 55%;
  clear: both;
}

form div input {
  float: right;
}

form div input[type="text"] {
  width: 30%;
}

form div input[type="radio"] {
  margin-right: 10px;
}

button {
  display: block;
  width: 30%;
  margin: 0 auto;
  font-size: 1.7rem;
  line-height: 1.5;
  box-shadow: 1px 1px 2px black;
}
  #main-header {display:none !important} #toc.fixed { position: static !important; overflow-y: visible !important; } #redesignNotice {display:none !important} .contributors {display:none !important} .wiki-left-present:not(.wiki-left-closed) #wiki-left {display:none !important} .wiki-left-present:not(.wiki-left-closed) #toc.fixed {width: 100% !important; max-height:none !important} #wiki-content {width:100% !important} #wiki-content {float:left !important} .notification-tray, .section-edit {display:none !important} .communitybox, #wiki-controls {display:none !important} .syntaxbox-help{display:none !important} .article-meta { display:none !important} #wiki-right {padding-bottom: 25px !important; width:100% !important} .column-strip.quick-links {margin-bottom:0px !important} .redesign-beta-notice {display:none !important} #tabzilla-panel {display:none !important} main>.center {padding-top:10px !important} .share {display:none !important} .breadcrumbs {display:none !important} .global-notice, .page-buttons {display:none !important} .crumbs {display:none !important} .languages {display:none !important} #toc {max-height:none !important} .offline-notice {display:none} #redirected-from {display:none} #masthead {display:none}
#nav-toolbar {display:none} .line-highlight:before, .line-highlight[data-end]:after {display:none !important} #helpful-survey {display:none !important}
#page-buttons{display:none} .contributor-avatars {display:none !important} .document-head { background-color:white !important; padding: 0px 0 20px !important} .newsletter-box {display:none !important} .center {max-width:none !important} #wiki-column-container {overflow:visible !important} .sample-code-frame {padding:0px !important; border: none !important} #sessionMsg.errormsg{display:none}
.page-watch {display:none} .document-head h1 {margin-top:10px !important} #wikiArticle {border-bottom:0px !important} #wiki-content,#wiki-left,#wiki-right{margin-right:0;width:auto!important;float:none;padding-bottom:40px}#wiki-right #toc{padding:10px 20px}#wiki-right #toc .toggler{pointer-events:auto;color:#387894}#wiki-right #toc .toggler i{display:inline-block}#wiki-right #toc .toggle-container{display:none}.no-js #wiki-right #toc .toggle-container{display:block}#wiki-column-container,#wiki-content{width:auto!important} #wiki-column-container, #wiki-content {width:100% !important} .local-anchor {display:none !important} #kserrors {display:none !important} .banner, .blockIndicator, .geckoVersionNote, .inheritsbox, .note, .notice, .overheadIndicator, .standardNoteBlock, .warning, .text-content p, .text-content dl, .text-content ol, .text-content ul {max-width:none !important} .toc {position: static !important} .toc-links li a.toc-current:after {display:none !important} .summary {border:0px !important} .crumbs {width:100% !important} body {font-size:16px}

.crumbs {display:block !important} .crumbs {margin-top:10px !important; margin-bottom:0 !important; padding-bottom:0 !important; border:none !important}
